<template>
  <div class="player-view">
    This is the Player view
    <ul>
      <li v-for="card in playerCards" :key="card.id">
        {{card.symbol}}
        {{card.type}}
      </li>
    </ul>

    <div v-show="playerbusted" class="busted">
      Player loses
    </div>

    <div v-show="totalwinner" class="winner">
      Player wins
    </div>
  </div>
</template>

<script>
  
  export default {
    name: 'Player',
    props: {
      playerCards: Array,
      playerbusted: Boolean,
      totalwinner: Boolean
    }
  }
</script>

<style lang="scss">
  .player-view {
    font-size: 20px;
    font-weight: 700;

    li {
      display: block;
    }
  }

  .busted {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin: 20px 0;
    z-index: 10;
    color: red;
  }

  .winner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin: 20px 0;
    z-index: 10;
    color: green;
  }
</style>
