<template>
  <div>
    <strong>Players Score: </strong>
    <span>{{playerscore}}</span>
  </div>
</template>

<script>
  
  export default {
    name: 'PlayerScore',
    props: {
      playerscore: Number
    }
  }
</script>
