<template>
  <div>
    This is the Table view
    <div class="players-bet" v-show="betIsSet">
      <span>Player's Bet: </span>
      <input type="number" readonly v-model="playersBet"/>
    </div>
    <input type="number" v-model="playersBet" v-show="!betIsSet"/>
    <button type="button" @click="setBet" :disabled="betIsSet">Set Bet</button>
    <button type="button" @click="firstDeal" :disabled="!betIsSet || firstdealrequested">First Deal</button>
    <button type="button" @click="dealOne" :disabled="!enableHit">Hit</button>
    
  </div>
</template>

<script>
  
  export default {
    name: 'Table',
    data() {
      return {
        betIsSet: false,
        playersBet: 0,
        firstdealrequested: false,
        enableHit: false
      }
    },
    methods: {
      setBet() {
        this.betIsSet = true
      },
      firstDeal() {
        this.$emit('firstdeal')
        this.firstdealrequested = true
        this.enableHit = true
      },
      dealOne() {
        this.$emit('dealone')
      }
    }
  }
</script>

<style lang="scss">
  .players-bet span {
    font-weight: 700;
  }

  [type="number"][readonly] {
    border: 0 none;
  }
</style>
