<template>
  <div id="app">
    <Player :playerCards="playercards" :playerbusted="busted" :totalwinner="totalwin"></Player>
    <PlayerScore :playerscore="playerscore" />
    <Table v-on:firstdeal="dealcards" v-on:dealone="dealonecard"></Table>
  </div>
</template>

<script>
  import Table from './components/Table.vue'
  import Player from './components/Player.vue'
  import PlayerScore from './components/PlayerScore.vue'

  export default {
    name: 'app',
    components: {
      Table, Player, PlayerScore
    },
    data() {
      return {
        cards: [
          { id: "1", value: "1", type: "ace", symbol: "heart" },
          { id: "2", value: "2", type: "two", symbol: "heart" },
          { id: "3", value: "3", type: "three", symbol: "heart" },
          { id: "4", value: "4", type: "four", symbol: "heart" },
          { id: "5", value: "5", type: "five", symbol: "heart" },
          { id: "6", value: "6", type: "six", symbol: "heart" },
          { id: "7", value: "7", type: "seven", symbol: "heart" },
          { id: "8", value: "8", type: "eight", symbol: "heart" },
          { id: "9", value: "9", type: "nine", symbol: "heart" },
          { id: "10", value: "10", type: "ten", symbol: "heart" },
          { id: "11", value: "10", type: "jack", symbol: "heart" },
          { id: "12", value: "10", type: "queen", symbol: "heart" },
          { id: "13", value: "10", type: "king", symbol: "heart" },
          { id: "14", value: "1", type: "ace", symbol: "spades" },
          { id: "15", value: "2", type: "two", symbol: "spades" },
          { id: "16", value: "3", type: "three", symbol: "spades" },
          { id: "17", value: "4", type: "four", symbol: "spades" },
          { id: "18", value: "5", type: "five", symbol: "spades" },
          { id: "19", value: "6", type: "six", symbol: "spades" },
          { id: "20", value: "7", type: "seven", symbol: "spades" },
          { id: "21", value: "8", type: "eight", symbol: "spades" },
          { id: "22", value: "9", type: "nine", symbol: "spades" },
          { id: "23", value: "10", type: "ten", symbol: "spades" },
          { id: "24", value: "10", type: "jack", symbol: "spades" },
          { id: "25", value: "10", type: "queen", symbol: "spades" },
          { id: "26", value: "10", type: "king", symbol: "spades" },
          { id: "27", value: "1", type: "ace", symbol: "diamond" },
          { id: "28", value: "2", type: "two", symbol: "diamond" },
          { id: "29", value: "3", type: "three", symbol: "diamond" },
          { id: "30", value: "4", type: "four", symbol: "diamond" },
          { id: "31", value: "5", type: "five", symbol: "diamond" },
          { id: "32", value: "6", type: "six", symbol: "diamond" },
          { id: "33", value: "7", type: "seven", symbol: "diamond" },
          { id: "34", value: "8", type: "eight", symbol: "diamond" },
          { id: "35", value: "9", type: "nine", symbol: "diamond" },
          { id: "36", value: "10", type: "ten", symbol: "diamond" },
          { id: "37", value: "10", type: "jack", symbol: "diamond" },
          { id: "38", value: "10", type: "queen", symbol: "diamond" },
          { id: "39", value: "10", type: "king", symbol: "diamond" },
          { id: "40", value: "1", type: "ace", symbol: "club" },
          { id: "41", value: "2", type: "two", symbol: "club" },
          { id: "42", value: "3", type: "three", symbol: "club" },
          { id: "43", value: "4", type: "four", symbol: "club" },
          { id: "44", value: "5", type: "five", symbol: "club" },
          { id: "45", value: "6", type: "six", symbol: "club" },
          { id: "46", value: "7", type: "seven", symbol: "club" },
          { id: "47", value: "8", type: "eight", symbol: "club" },
          { id: "48", value: "9", type: "nine", symbol: "club" },
          { id: "49", value: "10", type: "ten", symbol: "club" },
          { id: "50", value: "10", type: "jack", symbol: "club" },
          { id: "51", value: "10", type: "queen", symbol: "club" },
          { id: "52", value: "10", type: "king", symbol: "club" }
        ],
        playercards: [],
        playerscore: 0
      }
    },
    methods: {
      dealcards() {
        let firstcards = []
        firstcards.push(this.cards[Math.floor(Math.random() * this.cards.length)])
        firstcards.push(this.cards[Math.floor(Math.random() * this.cards.length)])

        this.playercards = firstcards

        this.updatePlayerScore()
      },
      dealonecard() {
        let onecard

        onecard = this.cards[Math.floor(Math.random() * this.cards.length)]

        this.playercards.push(onecard)

        this.updatePlayerScore()
      },
      updatePlayerScore() {
        let pscoresum = 0
        for(let x of this.playercards) {
          pscoresum += parseInt(x.value)
        }

        this.playerscore = pscoresum
      }
    },
    computed: {
      busted() {
        if(this.playerscore > 21) {
          return true
        }
      },
      totalwin() {
        if(this.playerscore == 21) {
          return true
        }
      }
    }
  }
</script>
